Flask
Flask-Cors
gunicorn
Flask-SQLAlchemy
Flask-Migrate # Untuk manajemen database
Flask-Bcrypt # Untuk password hashing
Flask-JWT-Extended # Untuk otentikasi token
scipy

numpy
tensorflow==2.18.0

python-dotenv